@model DashboardViewModel
@{
    int count = 0;
}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard</h2>
            <p>Whole data about your business here</p>
        </div>
    </div>

    <div class="row">
        <!-- Revenue Card -->
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Revenue</h6>
                        <span>$@Model.TotalRevenue.ToString("N2")</span>
                        <span class="text-sm"> Shipping fees are not included </span>
                    </div>
                </article>
            </div>
        </div>

        <!-- Orders Card -->
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6>
                        <span>@Model.TotalOrders.ToString("N0")</span>
                    </div>
                </article>
            </div>
        </div>

        <!-- Products Card -->
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6>
                        <span>@Model.TotalProducts.ToString("N0")</span>
                        <span class="text-sm"> In @Model.Categories.Count Categories </span>
                    </div>
                </article>
            </div>
        </div>

        <!-- Monthly Earning Card -->
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Monthly Earning</h6>
                        <span>$@Model.MonthlyEarning.ToString("N2")</span>
                        <span class="text-sm"> Based in your local time. </span>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Latest orders</h4>
            <div class="row align-items-center">

                <!-- Category Filter -->
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <div class="custom_select">
                        <select class="form-select select-nice" id="categoryFilter" onchange="filterOrders()">
                            <option value="">All Categories</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id" selected="@(Model.SelectedCategoryId == category.Id ? "selected" : null)">
                                    @category.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Date Filter -->
                <div class="col-md-2 col-6">
                    <input type="date" id="dateFilter" value="@(Model.FilterDate?.ToString("yyyy-MM-dd"))" class="form-control" onchange="filterOrders()" />
                </div>

            </div>
        </header>

        <div class="card-body">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle" scope="col">NO</th>
                                <th class="align-middle" scope="col">Order ID</th>
                                <th class="align-middle" scope="col">Billing Name</th>
                                <th class="align-middle" scope="col">Date</th>
                                <th class="align-middle" scope="col">Address</th>
                                <th class="align-middle" scope="col">Total</th>
                                <th class="align-middle" scope="col">Status</th>
                                <th class="align-middle" scope="col">View Details</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Orders)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><a href="#" class="fw-bold">#@item.Id</a></td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.DateString</td>
                                    <td>@item.Address</td>
                                    <td>$@item.TotalPrice.ToString("N2")</td>
                                    <td>
                                        @switch (item.Status)
                                        {
                                            case null:
                                                <p>Not Confirmed</p>
                                                break;
                                            case false:
                                                <p>In Delivering Process</p>
                                                break;
                                            case true:
                                                <p>Delivered</p>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="home" asp-action="orderdetails" asp-route-id="@item.Id" class="btn btn-xs"> View details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- table-responsive end// -->
        </div>
    </div>
</section>

<script>
    function filterOrders() {
        var categoryId = document.getElementById("categoryFilter").value;
        var filterDate = document.getElementById("dateFilter").value;
        var url = '@Url.Action("Index", "Home")' + '?categoryId=' + categoryId + '&filterDate=' + filterDate;
        window.location.href = url;
    }
</script>